<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>Мой первый сайт с мозгами — Урок 1</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1>Мой первый сайт с мозгами</h1>
  <p>Сегодня научимся отправлять данные на сервер и получать ответ.</p>
  <form method="post">
    <label for="message">Напиши, как ты себя чувствуешь:</label><br>
    <textarea id="message" name="message" rows="4" cols="50"
              placeholder="Например: Сегодня у меня хорошее настроение!"></textarea><br>
    <button type="submit">Анализировать</button>
  </form>
  {% if recommendation %}
  <div class='result'>
      <h3>Рекомендации</h3>
      <p>{{user_text}}</p>
      <p>{{recommendation}}</p>
  </div>
  {% endif %}

</body>
</html>
